body {
	font-family: arial;
	padding: 5%;
	background: #00bc7d;
}

#app h1 {
	padding: 0;
	margin: -2.5px 0 0 0;
	color: white;
}

#titleContainer button {
	color: white;
	font-size: 1.1rem;
	font-weight: 800;
	background: #004e3b;
	width: 30px;
	height: 30px;
	border: 1px solid #00bc7d;
	border-radius: 100%;
}

#taskContainer ul {
	padding-inline-start: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	overflow: hidden;
}

#taskContainer ul li {
	display: flex;
	column-gap: 10px;
}

#taskContainer ul .task div {
	width: 100%;
	padding: 10px;
	background: white;
	margin-right: 0%;
	border: 1px solid #bae1ce;
	border-radius: 5px;
	transition: 250ms ease-in-out
}

#taskContainer ul li button {
	padding: 10px;
	color: white;
	background: #072C21;
	border: 1px solid #0F4735;
	border-radius: 5px;
	transition: 250ms ease-in-out;
	margin-right: calc(-20% - 10px);
}

.swipeTask {
	margin-left: -30%!important;
	transition: 250ms ease-in-out;
}

.swipeTaskButton {
	margin-right: 0%!important;
	transition: 250ms ease-in-out;
}

#taskContainer ul li h3 {
	padding: 0;
	margin: 0 0 4px 0;
	font-size: 1.1rem;
}

#taskContainer ul li p {
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
	color: #353535;
}

#categorieList {
	overflow: scroll;
	border-bottom: 1px solid #d0fae5;
}

#categorieList ul {
	padding-inline-start: 0;
	display: flex;
	column-gap: 10px;
	list-style: none;
	width: 100%;
}

#categorieList ul li {
	min-width: fit-content;
}

#categorieList ul li button {
	font-size: 1rem;
	background: white;
	padding: 7.5px 15px;
	border: 1px solid #f7f7f7;
	border-radius: 5px;
	min-width: fit-content;
	transition: 250ms ease-in-out;
}

#categorieList ul li .activeButton {
	background: #002c21;
	border: 1px solid #1d4138;
	color: white;
	transition: 250ms ease-in-out;
}

#newTaskBtn {
	padding: 15px;
	width: 100%;
	color: #1d4138;
	font-size: 1.1rem;
	font-weight: 600;
	background: none;
	border: 1px dashed #002c21;
	border-radius: 5px;
}

.popupOverlay {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.showOverlay {
	display: block;
	opacity: 0.5;
	transition: 750ms ease-in-out;
}

.hideOverlay {
	display: none;
	opacity: 0;
	transition: 750ms ease-in-out;
}

.newTaskPopup {
	background: white;
	z-index: 999;
	padding: 50px 0px;
	width: 100%;
	position: absolute;
	left: 0;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.showPopup {
	bottom: 0%;
	transition: 250ms ease-in-out;
}

.hidePopup {
	bottom: -100%;
	transition: 250ms ease-in-out;
	display: none;
}

.newTaskPopup div {
	width: 90%;
	margin: auto;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

form input {
	max-width: 100%;
	padding: 15px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
}

form select {
	width: 100%;
	padding: 15px;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	appearance: none;
}

form button {
	width: 100%;
	padding: 15px;
	font-size: 1.1rem;
	font-weight: 600;
	color: white;
	background: #096;
	border: 1px solid #08a276;
	border-radius: 5px;
}
